<html ng-app="gcApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="elasticsearch-js/elasticsearch.angular.js"></script>
		<script src="es.js"></script>
	</head>
	
	<body>
		<div ng-controller="gcEsSearch" align="center">
			<h1>LDS General Conference Search</h1>
			<h3>This is not an official site of the Church of Jesus Christ of Latter-day Saints.</h3>
			
			<form ng-submit="searcher.search()">
				<input ng-model="searcher.searchTerm" type="text" size="30" placeholder="{{searcher.searchTerm}}">
				<input class="btn-primary" type="submit" value="search">
			</form>
				
			<table border="1" ng-hide="searcher.results.length === 0">
				<tr ng-repeat="result in searcher.results">
					<td>{{result.fields.confid[0]}}</td>
					<td><a href="{{result.fields.url[0]}}">{{result.fields.title[0]}}</a></td>
					<td>{{result.fields.author[0]}}</td>
					<td>
						<ul ng-if="result.highlight.content.length > 1">
							<li ng-repeat="highlight in result.highlight.content">
							<span ng-bind-html="highlight"/>
							</li>
						</ul>
						<div ng-if="result.highlight.content.length === 1">
							<span ng-bind-html="result.highlight.content[0]"/>
						</div>
					</td>
				<tr>
			</table>
			
			<footer>
				<p>General Conference talk content was retrieved from:</p>
				<ul>
					<li>Apr 2015 - Apr 1971: <a href="https://www.lds.org/general-conference/conferences?lang=eng">lds.org's General Conference Archive</a></li>
				</ul>
				<p>The source code for this site, and for populating the underlying ElasticSearch engine with the content listed above, can be found <a href="https://github.com/deepsnow/ElasticSearchStuff/tree/master/GC_Search">here</a>.
			</footer>
		</div>
	</body>
</html>